<h1>FUN</h1>
<div class="avatar">
    <img src="/images/cpy.png" alt="">
</div>
<div class="card">
    <ul class="link">
        <li>{{user.name}}</li>
        <li><a href="/dashboard/profile">Profile</a></li>
        <li><a href="/user/logout">logout</a></li>
    </ul>
</div>