<div class="larger-screen">

</div>
<div class="dropdown">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>
<div>
    <ul class="link">
        <li><a href="/">Home</a></li>
        <li><a href="">Songs</a></li>
        <li><a href="">Artists</a></li>
        <li><a href="">Genres</a></li>
        <li><a href="/user">Sign in</a></li>
        <li><a href="/user/signup">Join</a></li>
    </ul>
</div>