<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rodger Kumwanje">
    <meta name="description" content="Fun is a website where artists will have total control over their own music">
    <meta name="keywords" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <meta>
    <title>Fun | Something else</title>
</head>

<body>
    <nav>
        {{> _header1}}
    </nav>
    {{{body}}}
    <script src="/js/main.js"></script>
</body>

</html>