<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" <meta name="author" content="Rodger Kumwanje">
    <meta name="description" content="Fun is a website where artists will have total control over their own music">
    <meta name="keywords" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/58a41967c5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{title}}</title>
</head>

<body>
    <nav>
        {{> _header2}}
    </nav>
    <div class="container">
        {{{body}}}
    </div>

    <script src="/js/bash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
        integrity="sha512-P4rrEImABBYtBFdmrFPqF8rjh8iiRiupfQ4KLrBCL8dAivLiM2nh+1bJQeMb2ZglmIlGZdfTtgGdXH6H/hGVeg=="
        crossorigin="anonymous"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
        CKEDITOR.replace('lyrics', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link'
        })
    </script>
</body>

</html>