<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" <meta name="author" content="Rodger Kumwanje">
    <meta name="description" content="Fun is a website where artists will have total control over their own music">
    <meta name="keywords" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{title}}</title>
</head>

<body>
    <nav>
        {{> _header2}}
    </nav>
    <div class="container">
        {{{body}}}
    </div>

    <script src="/js/bash.js"></script>
</body>

</html>