<div class="forget_pass">
    <form action="/user/forget" method="POST">
        {{#if error}}
        <div class="error">
            <p>{{error}}</p>
        </div>
        {{/if}}
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email" value="{{email}}">
        </div>
        <div>

            <input type="submit" value="Reset Password">
            <p>Back to <a href="/user">
                    login</a>
            </p>
        </div>
    </form>
</div>