<div class="dashboard">
    <div class="starter">
        <p>Welcome, {{user.name}}</p>
        {{> _upload_btn}}
    </div>
    <div class="content">
        <p>Here is a list of your songs</p>
        {{!-- implement table with materialize css --}}
    </div>
    <div class="stats">
        {{!-- implement stats --}}
    </div>
</div>